{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 5%;">
    <div class="row align-items-center">
      <div class="col-auto">
        <i class="bi-person" style="font-size: 4rem;"></i>
      </div>
      <div class="col">
        <h3>{% if session['user_type'] == 'booking_agent'%}Booking Agent #{% endif %}{{ session['name'] }}</h3>
        {% if session['user_type'] == 'customer' %}
            <p class="text-muted">Customer account</p>
        {% elif session['user_type'] == 'booking_agent' %}
            <p class="text-muted">Agent account</p>
        {% elif session['user_type'] == 'airline_staff' and session['permission'] == 'admin'%}
            <p class="text-muted">Staff account <span class="badge rounded-pill bg-success">Admin</span></p>
            
        {% elif session['user_type'] == 'airline_staff' %}
            <p class="text-muted">Staff account</p>
        {% endif %}
        
      </div>
    </div>
  </div>
  {% if session['user_type'] == 'customer' %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-3">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile"><i class="bi-person-fill" style="font-size: 1.1rem;"></i>  Profile</a>
            
              <a class="list-group-item list-group-item-action" id="list-spending-list" data-bs-toggle="list" href="#list-spending" role="tab" aria-controls="list-messages"><i class="bi-bar-chart-fill" style="font-size: 1rem;"></i>  My Spending</a>
              <!--Already Implemented in different route -->
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings"><i class="bi-airplane-fill" style="font-size: 1rem;"></i>  My Flights</a>

            
            
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <div class="container rounded">
                <p>test</p>
              </div>
            </div>
            <div class="tab-pane fade" id="list-spending" role="tabpanel" aria-labelledby="list-messages-list">
              <div class="card chart-container">
                <canvas id="chart"></canvas>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Filter Dates
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Filter Dates:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form action="/trackSpending" method="POST">
                                <div class="input-group m-2">
                                    <div class="input-group-prepend">
                                    <div class="input-group-text">Start Date:</div>
                                    </div>
                                    <input name="startDate" type="date" class="form-control" id="sDate" required>
                                </div>
                                <div class="input-group m-2">
                                  <div class="input-group-prepend">
                                  <div class="input-group-text">End Date:</div>
                                  </div>
                                  <input name="endDate" type="date" class="form-control" id="eDate" required>
                              </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                </div>
                            </form> 
                          </div>
                      </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
          </div>
        </div>
      </div>  
</div>

{% elif session['user_type'] == 'booking_agent' %}



{% elif session['user_type'] == 'airline_staff' %}



<div class="container" style="margin-top: 20px;">
  <div class="row">
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile"><i class="bi-person-fill" style="font-size: 1.1rem;"></i>  Profile</a>
          
            <a class="list-group-item list-group-item-action" id="list-spending-list" data-bs-toggle="list" href="#list-spending" role="tab" aria-controls="list-messages"><i class="bi-bar-chart-fill" style="font-size: 1rem;"></i>  My Spending</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings"><i class="bi-airplane-fill" style="font-size: 1rem;"></i>  My Flights</a>

          
          
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <div class="container rounded">
              <p>test</p>
            </div>
          </div>
          <div class="tab-pane fade" id="list-spending" role="tabpanel" aria-labelledby="list-messages-list">
            <div class="card chart-container">
              <canvas id="chart"></canvas>
              
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Filter Dates
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Filter Dates:</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/trackSpending" method="POST">
                              <div class="input-group m-2">
                                  <div class="input-group-prepend">
                                  <div class="input-group-text">Start Date:</div>
                                  </div>
                                  <input name="startDate" type="date" class="form-control" id="sDate" required>
                              </div>
                              <div class="input-group m-2">
                                <div class="input-group-prepend">
                                <div class="input-group-text">End Date:</div>
                                </div>
                                <input name="endDate" type="date" class="form-control" id="eDate" required>
                            </div>
                              <div>
                                  <button type="submit" class="btn btn-primary">Filter</button>
                              </div>
                          </form> 
                        </div>
                    </div>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
      </div>
    </div>  
</div>




{% endif %}

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
</script>

<script>

  var flaskData = JSON.parse('{{data | tojson | safe}}');
  var months = flaskData.months
  var sums = flaskData.sums
  var total = flaskData.total
  length = sums.length;
  var sumArray = [];

  for (var i = 0; i < length; i++) 
    sumArray.push(parseInt(sums[i])); 

  const ctx = document.getElementById("chart").getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: months,
      datasets: [{
        label: 'Total Spending: $' + total,
        backgroundColor: 'rgba(161, 198, 247, 1)',
        borderColor: 'rgb(47, 128, 237)',
        data: sumArray,
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
          }
        }]
      }
    },
  });
</script>

{% endblock %}