{% extends "base.html" %}
<head>
    <title>{% block title %}Home • Flight Reservation System{% endblock %}</title>
</head>
<body>
    {% block content %}
    <style>
      body{
        background-image: url('../static/img/plane0.jpg');
        background-size: cover; 
        background-position: center;
      }
    </style>
    <div class="shadow-lg container rounded col-md-8" style="margin-top: 5%; margin-bottom:5%; padding: 40px; background-color: rgba(255, 255, 255, 0.5);">
        {% if is_logged_in() %}
          <h1>Welcum, {% if session['user_type'] == 'booking_agent'%}Agent #{% endif %}{{session['name']}}</h1>
        {% else %}
          <h1>Search flights...</h1>
        {% endif %}
        <form action="/searchFlights" method="POST" class="row g-3" style="margin-top:20px">
            <div class="col-md-6">
                <label for="origCity" class="form-label">Origin City</label>
                <input name="departureCity" type="text" class="form-control rounded-pill form-control-lg" id="origCity" placeholder="Where from?">
            </div>
            <div class="col-md-6">
                <label for="destCity" class="form-label">Destination City</label>
                <input name="arrivalCity" type="text" class="form-control rounded-pill form-control-lg" id="destCity" placeholder="Where to?">
            </div>
            <div class="col-md-6">
                <label for="depAirport" class="form-label">Departure Airport</label>
                <input name="departureAirport" type="text" class="form-control rounded-pill form-control-lg" id="depAirport" placeholder="ABC">
              </div>
              <div class="col-md-6">
                <label for="arrAirport" class="form-label">Arrival Airport</label>
                <input name="arrivalAirport" type="text" class="form-control rounded-pill form-control-lg" id="arrAirport" placeholder="XYZ">
              </div>
            <div class="col-md-3">
                <label for="inputYear" class="form-label">Date</label>
                <input name = "flightDate" type="date" id="inputYear" class="form-control rounded-pill form-control-lg">
            </div>
            {% if error %}
                <p class="text-danger">{{error}}</p>
            {% endif %}
            <div class="col-12" style="margin-top: 30px;">
              <button type="submit" class="btn btn-success btn-lg">Search</button>
            </div>
          </form>
    </div>
    {% endblock %}
    
    
</body>